<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns='http://www.springframework.org/schema/beans'
       xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance'
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:c="http://www.springframework.org/schema/c"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <import resource="classpath*:spring/*-plugin-spring-context.xml"/>

    <bean id="encryptor" class="org.jasypt.encryption.pbe.StandardPBEStringEncryptor">
        <property name="config">
            <bean class="org.jasypt.encryption.pbe.config.SimpleStringPBEConfig"
                  p:algorithm="PBEWithMD5AndDES"
                  p:password="secret">
                <property name="provider">
                    <bean class="org.bouncycastle.jce.provider.BouncyCastleProvider"/>
                </property>
            </bean>
        </property>
    </bean>

    <bean id="placeholderConfigurer" class="org.jasypt.spring3.properties.EncryptablePreferencesPlaceholderConfigurer"
          c:stringEncryptor-ref="encryptor"
          p:ignoreResourceNotFound="false"
          p:nullValue="{null}">
        <property name="locations">
            <list>
                <value>classpath:/spring/auth.properties</value>
            </list>
        </property>
    </bean>

    <bean id="eventBus" class="com.google.common.eventbus.EventBus"/>

    <bean id="groupDAO.impl.mongo" parent="groupDAO.impl.mongo.base"
          p:userDAO-ref="userDAO.impl.mongo"
          p:eventBus-ref="eventBus"/>

    <bean id="userDAO.impl.mongo" parent="userDAO.impl.mongo.base"
          p:groupDAO-ref="groupDAO.impl.mongo"
          p:eventBus-ref="eventBus"/>

    <bean id="clientDAO.impl.mongo" parent="clientDAO.impl.mongo.base"
          p:eventBus-ref="eventBus"/>

    <bean id="permissionDAO.impl.redis" parent="permissionDAO.impl.redis.base"
          p:userDAO-ref="userDAO.impl.mongo"
          p:eventBus-ref="eventBus"/>

    <bean id="tokenDAO.impl.redis" parent="tokenDAO.impl.redis.base"
          p:eventBus-ref="eventBus"/>

</beans>